.deps
.libs
autom4te.cache
*~
*.o
*.la
*.lo
*.desktop
.intltool-merge-cache
INSTALL
Makefile
Makefile.in
Makefile.in.in
aclocal.m4
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.ac
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
missing
mkinstalldirs
stamp-h1
stamp-it
POTFILES
ChangeLog
xfce4-lock-keys-plugin-*.tar.bz2
